@model IEnumerable<prj1081746FinalExam.Models.TableFinalExams1081746>
@{
    ViewBag.Title = "Index6";
}

<form method="post" action="@Url.Action("QueryByID1")">
    <div class="panel panel-primary">
        <div class="panel-heading">資料查詢</div>
        <div class="panel-body">
            <p>
                訂單號碼:
                <input type="text" name="order" value="@ViewBag.order" class="form-control" required />
            </p>
            <p>
                客戶編號:
                <input type="text" name="cus" value="@ViewBag.cus" class="form-control" required />
            </p>
            <p><input type="submit" value="查詢" class="btn btn-primary" /></p>
        </div>
    </div>
</form>

